.body {
    width: 1440px;
    height: 312px;
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color:#FFFFFF;
    }

.header {
    width: 1440px;
    height: 72px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 0px;
}
.nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 0px;}
.nav:hover {
    color: #404bbf;
}
.nav:focus {
    color: #404bbf;
}
.nav .logo-web {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    text-decoration: none;
    margin-left: 156px;
}
.nav .logo-studio {
    color: #2E2F42;
}
.nav .logo-web:hover,
.nav .logo-studio:hover {
    color: #404bbf;
}
.nav .logo-web:focus,
.nav .logo-studio:focus {
    color: #404bbf;
}
.nav-list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 40px;
    width: 261px;
    height: 24px;
    list-style-type: none;
    }
.nav-page {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none;
    }
.nav-address {
    font-style: normal;
    }
.address {
    list-style-type: none;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 40px;
    text-align: right;
    margin-left: 332px;
    }
.contacts {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
    list-style-type: none;
    }
.contacts:hover {
    color: #404bbf;
}
.contacts:focus {
    color: #404bbf;
}
.section-title {
    width: 1440px;
    height: 600px;
    background-color: #2e2f42;
    }
.h-one {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;    
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}
button {
        justify-content: flex-start;
        background: #4d5ae5;
        cursor: pointer;
        }
.button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    text-align: center;
    white-space: nowrap
    }
.button:hover {
    background-color: #404BBF;
}
.button:focus {
    background-color: #404BBF;
}
.section-about {
    background-color: #FFFFFF;
    width: 1440px;
    height: 344px;
    }
.about-list {
    justify-content: flex-start;
    gap: 40px;
    width: 1128px;
    height: 104px;
    list-style-type: none;
    }
.about-box {
    justify-content: flex-start;
    width: 264px;
    height: 104px;
    }
.title-three {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.about-text {
font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455 ;
}
.section-our-team {
    width: 1440px;
    height: 732px;
    background-color: #f4f4fd;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    }
.title-two {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    padding-inline: 0px;
    text-transform: capitalize;
    }
.our-team-list {
    justify-content: flex-start;
    width: 1128px;
    height: 104px;
    list-style-type: none;
}
.our-team-specialist {
    justify-content: center;
    width: 264px;
    height: 380px;
    background: #fff;
    }
.section-our-portfolio {
    background-color: #FFFFFF;
    width: 1440px;
    height: 1240px;
    }
.our-portfolio-list{
    width: 1128px;
    height: 1000px;
}
.our-portfolio-list-one {
width: 1128px;
height: 420px;
justify-content: flex-start;
list-style-type: none;
}
.our-portfolio-list-two {
    width: 1128px;
    height: 420px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    list-style-type: none;
}
.footer {
    width: 1440px;
    height: 312px;
    background:#2e2f42;
}
.footer-box {
        gap: 16px;
        width: 264px;
        height: 112px;
         }
.footer .logo-web {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    text-decoration: none;
    }
.footer .logo-studio {
    font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #f4f4fd;
    font-family: "Raleway", sans-serif;
    }
.footer-text {
    width: 264px;
    height: 112px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    font-family: "Roboto", sans-serif;
    }